<h1 class="title">Tailwindcss</h1>
<p>
  <strong>Definición:</strong> Tailwindcss is a utility-first CSS framework that is designed to make your
  designs more accessible and usable. It is a collection of CSS rules that
  are designed to make your designs more accessible and usable.
</p>

<br>

<!-- hover, active and focus -->
<button class="bg-violet-500 hover:bg-violet-600 active:bg-violet-700 p-2 rounded-full">
  Guardar cambios
</button>

<br>
<br>

<!-- styles in group -->
<div class="bg-black p-2 group hover:bg-white hover:cursor-pointer">
  <h2 class="group-hover:text-black">Texto interno</h2>
  <div class="h-4 bg-red-500 group-hover:bg-blue-500"></div>
</div>
